body {
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    font-family: 'Russo One', sans-serif;

}

.jumbotron {
    text-align: center;
    color:lightyellow;
    background-color: darkred;
}

button, form, input {
	margin: 10px;
}


label {
    color: lightyellow;
}

.btn-default {
    color: lightyellow;
    font-size: x-large;
}

form {
	margin: 15px;
}
input {
	margin: 10px;
}

